name: Build and Deploy
on:
  pull_request: {}
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@master
      - name: Run semgrep pull request review
        uses: L3m0nb4tt3ry/review-pull-request@v1.0.2-alpha
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PULL_REQUEST_NUMBER: ${{ github.event.pull_request.number }}
          GITHUB_REPOSITORY: $GITHUB_REPOSITORY
          BASELINE_COMMIT: ${{ github.event.pull_request.base.sha }}
          COMMIT_ID: ${{ github.event.pull_request.head.sha }}
          SEMGREP_REPORT_NAME: 'result.json'
